numpy==1.19.0
scipy==1.5.1
setuptools==59.5.0
typer==0.4.0
typer-cli==0.0.12
pandas==1.3.5
transformers==4.15.0
protobuf==3.16.0
torch==1.9.0
tensorboard==2.3.*
tensorflow==2.3.*
keras==2.7.0
coloredlogs==15.0.1
jq==1.0.2
timeout_decorator==0.4.1
click==7.1.2
registrable==0.0.4
psutil==5.7.2
joblib==0.17.0
graphviz==0.14.2
mtool @ git+https://github.com/cfmrp/mtool.git@4cee3a2590d4ec7648408cede05adfaeccc0c698
networkx==2.3
lxml==4.7.1
pydot==1.4.2
sentencepiece==0.1.96
fastapi==0.70.1
uvicorn==0.16.0
starlette==0.17.1


